*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
#imgg{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    animation: imagee 1s ease 0s 1 normal forwards; 
}
#imgg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.glass{
background: rgba(255, 255, 255, 0.027);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(6.3px);
border: 1px solid rgba(0, 255, 221, 0.253);
}

.glass-2{
background: rgba(7, 224, 240, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);
border: 1px solid rgba(7, 224, 240, 0.3);
}
/* input fields*/
.wave-group {
    position: relative;
    
  }
  
  .wave-group .input {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    color: rgb(232, 243, 252);
    animation: all-ele 1.5s ease 0s 1 normal forwards;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color:  #87dbd0;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
    animation: all-ele 1.5s ease 0s 1 normal forwards;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #ff6f00;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ff6f00;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  
  
/* input fields*/
.side{
    min-height: 100vh;
}

/* button style */
.button {
    background-color: #00000098;
    padding: 14px 40px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    -webkit-transition: .4s;
    transition: .4s;
   }
   
   .button span:last-child {
    display: none;
   }
   
   .button:hover {
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #ffffff93;
    color: #020202;
   }
   
   .button:active {
    background-color: #87dbd0;
   }
   
   
   
/* button style */
select{
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    background: transparent;
    padding: 2px;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 10px 10px 5px;
    outline: none;
    color: #87dbd0;

    animation: all-ele 1.5s ease 0s 1 normal forwards;
}
select:hover{
    color: #ff6f00;
}
.headerss{
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    animation: drop 1s ease 0s 1 normal forwards;
    color: #87dbd0;
}

@media only screen and (max-width: 600px) {
    #imgg{
        display: none;
    }
    
  }

  /* animations */
  @keyframes imagee {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

		90% {
		opacity: 0.5;
		transform: translateX(0);
	}
		94% {
		opacity: 0.6;
		transform: translateX(0);
	}
		95% {
		opacity: 0.7;
		transform: translateX(0);
	}
		96% {
		opacity: 0.8;
		transform: translateX(0);
	}
		98% {
		opacity: 0.9;
		transform: translateX(0);
	}
		100% {
		opacity: 1;
		transform: translateX(0);
	}
}
  @keyframes slide {
	0% {
		transform: scaleX(0.4);
		transform-origin: 0% 0%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0% 0%;
	}
}
@keyframes drop {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
@keyframes all-ele {
	0% {
		opacity: 0;
		transform: translateX(+250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes drop-1 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

  /* animations */

  /* background */
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #363637;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #f34d00;
    top: 22%;
    left: 30%;
    animation-duration: 43s;
    animation-delay: -23s;
    transform-origin: 19vw 7vh;
    box-shadow: -40vmin 0 5.75872394281234vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 93%;
    left: 35%;
    animation-duration: 47s;
    animation-delay: -5s;
    transform-origin: 17vw 9vh;
    box-shadow: -40vmin 0 5.138676686490284vmin currentColor;
}
.background span:nth-child(2) {
    color: #b32222cc;
    top: 65%;
    left: 14%;
    animation-duration: 20s;
    animation-delay: -10s;
    transform-origin: 22vw -4vh;
    box-shadow: 40vmin 0 5.208057491197987vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 77%;
    left: 88%;
    animation-duration: 15s;
    animation-delay: -16s;
    transform-origin: -5vw -7vh;
    box-shadow: -40vmin 0 5.005428820202178vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 46%;
    left: 53%;
    animation-duration: 53s;
    animation-delay: -21s;
    transform-origin: 12vw 25vh;
    box-shadow: -40vmin 0 5.3374784081007665vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 18%;
    left: 68%;
    animation-duration: 20s;
    animation-delay: -7s;
    transform-origin: -16vw -11vh;
    box-shadow: -40vmin 0 5.526163568285064vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 50%;
    left: 92%;
    animation-duration: 41s;
    animation-delay: -16s;
    transform-origin: 17vw -18vh;
    box-shadow: -40vmin 0 5.512614066149229vmin currentColor;
}
.background span:nth-child(7) {
    color: #e45a839c;
    top: 63%;
    left: 41%;
    animation-duration: 18s;
    animation-delay: -28s;
    transform-origin: -19vw -20vh;
    box-shadow: -40vmin 0 5.858541354366251vmin currentColor;
}
.background span:nth-child(8) {
    color: #686566;
    top: 2%;
    left: 83%;
    animation-duration: 45s;
    animation-delay: -22s;
    transform-origin: -14vw 1vh;
    box-shadow: -40vmin 0 5.888121288229074vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 81%;
    left: 8%;
    animation-duration: 43s;
    animation-delay: -9s;
    transform-origin: 8vw -7vh;
    box-shadow: 40vmin 0 5.909429322221929vmin currentColor;
}
.background span:nth-child(10) {
    color: #6e6e6e;
    top: 14%;
    left: 88%;
    animation-duration: 12s;
    animation-delay: -37s;
    transform-origin: 5vw 25vh;
    box-shadow: 40vmin 0 5.359609987155781vmin currentColor;
}
.background span:nth-child(11) {
    color: rgb(94, 23, 23);
    top: 53%;
    left: 1%;
    animation-duration: 14s;
    animation-delay: -45s;
    transform-origin: 15vw 15vh;
    box-shadow: -40vmin 0 5.547947354574754vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 66%;
    left: 50%;
    animation-duration: 50s;
    animation-delay: -31s;
    transform-origin: 12vw 18vh;
    box-shadow: 40vmin 0 5.248087092598811vmin currentColor;
}
.background span:nth-child(13) {
    color: #501728;
    top: 25%;
    left: 53%;
    animation-duration: 29s;
    animation-delay: -26s;
    transform-origin: -9vw 16vh;
    box-shadow: -40vmin 0 5.427156506722264vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 54%;
    left: 13%;
    animation-duration: 16s;
    animation-delay: -17s;
    transform-origin: -16vw 10vh;
    box-shadow: -40vmin 0 5.063240114707826vmin currentColor;
}
.background span:nth-child(15) {
    color: #f50000;
    top: 22%;
    left: 60%;
    animation-duration: 21s;
    animation-delay: -33s;
    transform-origin: -21vw 2vh;
    box-shadow: 40vmin 0 5.1498909823125665vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 92%;
    left: 93%;
    animation-duration: 45s;
    animation-delay: -34s;
    transform-origin: -12vw 3vh;
    box-shadow: 40vmin 0 5.137525269747925vmin currentColor;
}
.background span:nth-child(17) {
    color: #e90046;
    top: 54%;
    left: 94%;
    animation-duration: 37s;
    animation-delay: -36s;
    transform-origin: -6vw -17vh;
    box-shadow: 40vmin 0 5.62156127867462vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 53%;
    left: 27%;
    animation-duration: 35s;
    animation-delay: -33s;
    transform-origin: 7vw 22vh;
    box-shadow: -40vmin 0 5.297364712460237vmin currentColor;
}
.background span:nth-child(19) {
    color: #6fd347;
    top: 93%;
    left: 89%;
    animation-duration: 35s;
    animation-delay: -31s;
    transform-origin: -14vw -13vh;
    box-shadow: 40vmin 0 5.813913209816098vmin currentColor;
}

  /* background */